body{
    width: 800px;
    text-align:center;
font-family: ta-f1blockline,sans-serif;
font-weight: 400;
font-style: normal;
    
}

.title{
    background-color: #000000;
    /* background-image: url(../img/header11_bk.png); */
    /* border-bottom: 1px solid #ccc; */
    height: 150px;
}

.title h1{
    margin: 5px;
    font-size:6em;
	font-weight:bold;
	color: transparent;
	background: repeating-linear-gradient(0deg, #0277BD 0.1em, #4FC3F7 0.2em, #E1F5FE 0.3em, #4FC3F7 0.4em, #0277BD 0.5em); 
    -webkit-background-clip: text;
}

.title h2{
    font-size:2em;
    font-weight:bold;
    margin-top: 5px;
	color: transparent;
	background: linear-gradient(0deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%); 
    -webkit-background-clip: text;
    margin: 0%;
}

.gamespace{
      background-image: url(../img/aside_bk.jpg);
    height: 600px;
    /* width: auto; */
}

footer{
    background-color: #000000;
    border-bottom:1px solid #ccc;
    text-align: center;
    color: #ccc;
}
.gamespace p{
    margin: 0%;
    padding: 50px;
    color: white;
    font-size:250%;
    text-align: center;
}

.buttonspace{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    display:block;
    /* 定義 */
    /* table-layout:fixed; */
}

button{
    margin-top: 40px;
    border-radius: 10px;
    width: 250px;
    height: 100px;
    cursor: pointer;
    font-family: ta-f1blockline,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

button:hover{
    background: greenyellow;
    color:#fff;
}

button:active{
    background: white;
    color:#fff;
}

.answer{
    margin-top: 40px;
    font-size: 50px;
    color: white;
}

/* カード1の設定 */
.card1 {
    width: 50px;
    height: auto;
    display: flex;
    position: relative;
}
.card1 a {
    display: block;
}
.win1front {
    position: absolute;
    top: 0;
    left: 0;
}
 
/* 表面の表示 */
.win1front {
    opacity: 1;
    transform: rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}
.win1back {
    opacity: 0;
    transform: rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
 
/* 裏面の表示 */
a:hover .card1 {
    opacity: 0;
    transform:rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
a:hover .win1back {
    opacity: 1;
    transform:rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}

/* カード2の設定 */
.card2 {
        padding-right: 10px;
        display: flex;
    position: relative;
    width: 250px;

}
.card2 a {
    display: block;
}
.win2front {
    position: absolute;
    top: 0;
    left: 0;
}
 
/* 表面の表示 */
.win2front {
    opacity: 1;
    transform: rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}
.win2back {
    opacity: 0;
    transform: rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
 
/* 裏面の表示 */
a:hover .card2 {
    opacity: 0;
    transform:rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
a:hover .win2back {
    opacity: 1;
    transform:rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}

/* カード3の設定 */
.card3 {
        display: flex;
    position: relative;
    width: 250px;

}
.card3 a {
    display: block;
}
.win3front {
    position: absolute;
    top: 0;
    left: 0;
}
 
/* 表面の表示 */
.win3front {
    opacity: 1;
    transform: rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}
.win3back {
    opacity: 0;
    transform: rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
 
/* 裏面の表示 */
a:hover .card3 {
    opacity: 0;
    transform:rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
a:hover .win3back {
    opacity: 1;
    transform:rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}

/* カード4の設定 */
.card4 {
        display: flex;
    position: relative;
    width: 250px;

}
.card4 a {
    display: block;
}
.win4front {
    position: absolute;
    top: 0;
    left: 0;
}
 
/* 表面の表示 */
.win4front {
    opacity: 1;
    transform: rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}
.win4back {
    opacity: 0;
    transform: rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
 
/* 裏面の表示 */
a:hover .card4 {
    opacity: 0;
    transform:rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
a:hover .win4back {
    opacity: 1;
    transform:rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}

/* カード5設定 */
.card5 {
        display: flex;
    position: relative;
    width: 250px;

}
.card5 a {
    display: block;
}
.win5front {
    position: absolute;
    top: 0;
    left: 0;
}
 
/* 表面の表示 */
.win5front {
    opacity: 1;
    transform: rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}
.win5back {
    opacity: 0;
    transform: rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
 
/* 裏面の表示 */
a:hover .card5 {
    opacity: 0;
    transform:rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
a:hover .win5back {
    opacity: 1;
    transform:rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}

/* カード6の設定 */
.card6 {
        display: flex;
    position: relative;
    width: 250px;

}
.card6 a {
    display: block;
}
.win6front {
    position: absolute;
    top: 0;
    left: 0;
}
 
/* 表面の表示 */
.win6front {
    opacity: 1;
    transform: rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}
.win6back {
    opacity: 0;
    transform: rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
 
/* 裏面の表示 */
a:hover .card6 {
    opacity: 0;
    transform:rotateY(90deg);
    transition:
        opacity 50ms 200ms,
        transform 300ms;
}
a:hover .win6back {
    opacity: 1;
    transform:rotateY(0deg);
    transition:
        opacity 100ms 150ms,
        transform 300ms 150ms;
}